.form-group {
}

.form-group:before,
.form-group:after {
  display: table;
  content: " ";
}

.form-group:after {
  clear: both;
}

.form-group {
  margin-bottom: 40px;
}

.form-control {
  width: 100%;
  padding: 15px 30px;
  border: 1px solid #35C097;
  background-color: #fff;
  font-size: 16px;
  border-radius: 5px;
}

.form-control:active,
.form-control:focus {
  border-color: #35C097;
  outline: 0;
  box-shadow: 0 0 10px #35C097;
}


/* Email */

.section-subscribe {
  padding-bottom: 20px;
  background-color: rgb(248, 248, 248);
}

.subscribe-headline {
  color: #35C094;
  padding: 20px 20px;
}

.form-group {
  margin-bottom: 15px;
}

.input-group-addon {
  font-weight: 300;
  font-size: 20px;
  font-size: 16px;
  background-color: #1cbd87;
  border: 1px solid #1cbd87;
  color: #1cbd87;
  padding: 0px 0px;
  white-space: pre;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
  margin-bottom: 30px;
}

.subscribe-btn {
   padding: 0px 0px;
   vertical-align: middle;
   border-radius: 5px;
}

.btnf {
  font-size: 18px;
  font-weight: 200;
  border: 1px solid #1cbd87;
  background: #1cbd87;
  color: #fff;
  padding: 10px 25px;
  transition: all .2s;
}

.btnf:hover {
  color: #111;
  transition: all .2s;
}

.input-group-addon, .input-group-btn {
  width: 11%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}

@media (min-width: 992px) {
  .col-md-offset-2 {
    margin-left: 16.66666667%;
}

@media (min-width: 992px) {
  .col-md-8 {
    width: 66.66666667%;
}


